<div class="registerLaunch">
  <h1 class="registerLaunch__title">Cadastro</h1>
  <form [formGroup]="formLaunch" autocomplete="off">
      <div class="registerLaunchForm">
         <mat-form-field class="registerLaunchForm__item" appearance="fill">
            <mat-label>Valor</mat-label>
            <input type="text" matInput formControlName="value" [errorStateMatcher]="matcher"
                   placeholder="Valor">
            <mat-error *ngIf="formLaunch.get('value')?.status">
              Campo é obrigatório
            </mat-error>
          </mat-form-field>

        <mat-form-field class="registerLaunchForm__item" appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let item of ['Receita', 'Dispesa']" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="registerLaunchForm__item" appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let item of ['Receita', 'Dispesa']" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="registerLaunchForm__item" appearance="fill">
          <mat-label>Descrição</mat-label>
          <input type="text" matInput formControlName="description" [errorStateMatcher]="matcher"
                 placeholder="Valor">
          <mat-error *ngIf="formLaunch.get('description')?.status">
            Campo é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="registerLaunchFormSubmit">
        <button class="registerLaunchFormSubmit__btn" mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
      </div>
  </form>
</div>
