@import '../app/styles/variables/all';

.layout {

  &Container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }

  &Sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: $color-secondary;
  }

  &Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
