<ng-container>
  <mat-toolbar class="layoutHeader" color="primary">
    <button mat-icon-button class="layoutIcon" (click)="sidenav.toggle()" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    Gastos Pessoais
  </mat-toolbar>
  <mat-sidenav-container class="layoutContainer">
    <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="false" class="layoutSidenav">
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="layoutFooter" color="primary"></mat-toolbar>
</ng-container>
