<div class="category">
  <div class="category__col1 d-flex">
    <app-icon-category [iconName]="'restaurant'" [color]="'red'"></app-icon-category>
  </div>
  <div class="category__col2 categoryDescription">
    <p class="text-semi-bold m-0">
      {{ categoryItem?.name }}
    </p>
  </div>
  <div class="category__col3">
    <p class="category__actions m-0">
      <button mat-icon-button class="" aria-label="Editar">
          <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="" aria-label="Deletar">
          <mat-icon color="warn" >delete</mat-icon>
      </button>
    </p>
  </div>
</div>
